.content {
    margin-top: 30px;
    padding: 0 4%;
}

@media only screen and (max-width: 1023px) {
    .content {
        padding: 0 150px;
    }
}

.active .path{
    text-decoration: underline;
}

.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav > .header {
    padding: 16px 16px 8px 16px;
    border-bottom: 1px solid lightblue;
}

.sidenav > .header > .avatar {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    float: left;
}

.sidenav > .header > .username {
    display: inline-block;
    height: 70px;
    width: 98px;
    line-height: 70px;
    text-align: center;
}

.sidenav > .header > .logout {
    margin-top: 16px;
    text-align: center;
}

.sidenav > .body {
    padding: 8px 16px 0px 16px;
}

.sidenav > .body > .navigation .path {
  display: inline-block;
  margin-left: 20px;
}

.up-button {
    position: fixed;
    bottom: 45px;
    left: 45px;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.6523);
    color: rgba(0, 0, 0, 0.6523);
    width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 25px;
    cursor: pointer;
}

.up-button:hover {
    border: 2px solid rgba(0, 0, 0, 0.870588);
    color: rgba(0, 0, 0, 0.870588)
}

.mat-sidenav-content {
    scroll-behavior: smooth;
}
