<md-sidenav-container class="sidenav-container">
    <md-sidenav #sidenav class="sidenav">
        <div class="header">
            <img src="../assets/sample-avatar.png" class="avatar" alt="">
            <span class="username">User</span>
            <div class="logout">
                <button md-raised-button>LOGOUT</button>
            </div>
        </div>
        <div class="body">
            <div class="navigation">
              <a md-button (click)="sidenav.toggle()" routerLinkActive="active" routerLink="/posts">
                <md-icon>folder</md-icon>
                <div class="path">Posts</div>
              </a>
            </div>
            <div class="navigation">
              <a md-button (click)="sidenav.toggle()" routerLinkActive="active" routerLink="/new-post">
                <md-icon>create_new_folder</md-icon>
                <div class="path">New Post</div>
              </a>
            </div>
            <div class="navigation">
              <a md-button (click)="sidenav.toggle()" routerLinkActive="active" routerLink="/">
                <md-icon>person</md-icon>
                <div class="path">Users</div>
              </a>
            </div>
            <div class="navigation">
              <a md-button (click)="sidenav.toggle()" routerLinkActive="active" routerLink="/">
                <md-icon>person_add</md-icon>
                <div class="path">New User</div>
              </a>
            </div>
        </div>
    </md-sidenav>
    <md-toolbar color="primary">
        <button md-button (click)="sidenav.toggle()">
            <md-icon>menu</md-icon>
        </button>
    </md-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
</md-sidenav-container>
