<h1 class="login-header">Login</h1>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate id="loginForm">
    <mat-card>
        <mat-card-content>
            <mat-input-container class="example-full-width">
                <input type="text" name="username" id="username" formControlName="username"
                required #username matInput placeholder="Login">
            </mat-input-container>
            <mat-input-container class="example-full-width">
                <input [type]="showPassword?'text':'password'" name="password" id="password" formControlName="password"
                required #password matInput placeholder="Password">
            </mat-input-container>
            <mat-checkbox class="example-margin" [(ngModel)]="showPassword" [ngModelOptions]="{standalone: true}">Show password</mat-checkbox>
        </mat-card-content>
        <mat-card-actions>
            <div class="submit">
                <button type="submit" mat-button>Login</button>
            </div>
        </mat-card-actions>
    </mat-card>
</form>
