<h1 class="login-header">Login</h1>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate id="loginForm">
    <md-card>
        <md-card-content>
            <md-input-container class="example-full-width">
                <input type="text" name="username" id="username" formControlName="username"
                required #username mdInput placeholder="Login">
            </md-input-container>
            <md-input-container class="example-full-width">
                <input [type]="showPassword?'text':'password'" name="password" id="password" formControlName="password"
                required #password mdInput placeholder="Password">
            </md-input-container>
            <md-checkbox class="example-margin" [(ngModel)]="showPassword" [ngModelOptions]="{standalone: true}">Show password</md-checkbox>
        </md-card-content>
        <md-card-actions>
            <div class="submit">
                <button type="submit" md-button>Login</button>
            </div>
        </md-card-actions>
    </md-card>
</form>
