<form [formGroup]="postForm" (ngSubmit)="onSubmit()" novalidate>
    <md-input-container class="example-full-width">
        <textarea name="postText" formControlName="postText" (keyup)="resizeInput($event.target)"
        required maxlength="1000" #address mdInput placeholder="Address">
        </textarea>
        <md-hint align="end">{{address.value.length}} / 1000</md-hint>
    </md-input-container>
    <button type="submit" md-button>Post</button>
    <p>Form status: {{ postForm.status | json }}</p>
</form>
