<h1>Create new post</h1>
<form [formGroup]="postForm" (ngSubmit)="onSubmit()" novalidate>
    <mat-card>
        <mat-card-content>
            <mat-input-container class="example-full-width">
                <input id="postTitle" formControlName="postTitle"
                required maxlength="1000" #postTitle matInput placeholder="Title">
                <mat-hint align="end">{{postTitle.value.length}} / 1000</mat-hint>
            </mat-input-container>
            <mat-input-container class="example-full-width">
                <textarea id="postText" formControlName="postText" (keyup)="resizeInput($event.target)"
                required maxlength="10000" #postText matInput placeholder="Main text">
                </textarea>
                <mat-hint align="end">{{postText.value.length}} / 10000</mat-hint>
            </mat-input-container>
            <input type="file" id="fileInput" accept="image/*" (change)="imageUpload($event.target)">
            <!-- <button aria-label="Attach image" mat-icon-button (click)="postText.click()">
                <mat-icon aria-hidden="true">attach_file</mat-icon>
            </button> -->
        </mat-card-content>
        <mat-card-actions>
            <div class="submit">
                <button type="submit" mat-button>Post</button>
            </div>
        </mat-card-actions>
        <mat-card-footer *ngIf="loading">
            <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>
</form>
