<spinner *ngIf="loading; else elseBlock"></spinner>

<ng-template #elseBlock>
    <div>
        <h1>Board</h1>
        <md-card *ngFor="let post of posts" class="example-card">
            <md-card-header>
                <img src="{{post.avatarUrl}}" md-card-avatar/>
                <md-card-title>{{post.creator}}</md-card-title>
                <md-card-subtitle>{{post.createdAt | date}}</md-card-subtitle>
            </md-card-header>
            <md-card-content>
                <p [innerHtml]="post.description"></p>
            </md-card-content>
            <md-card-actions *ngIf="user.id">
                <button md-button (click)="delete(post)" *ngIf="hasRights(post)">DELETE</button>
                <button md-button (click)="edit(post)" *ngIf="hasRights(post)">EDIT</button>
            </md-card-actions>
        </md-card>
    </div>
</ng-template>
