<new-post (onSend)="onNewPost($event)" *ngIf="user.id"></new-post>
<spinner *ngIf="loading; else elseBlock"></spinner>
<ng-template #elseBlock>
    <div>
        <h1>Posts</h1>
        <mat-card *ngFor="let post of posts" class="example-card">
            <mat-card-header>
                <img src="{{post.avatarUrl}}" mat-card-avatar/>
                <mat-card-title>{{post.creator}}</mat-card-title>
                <mat-card-subtitle>{{post.createdAt | date:"MMMM, d 'at' H:mm"}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <h3>{{post.title}}</h3>
                <p [innerHtml]="post.description"></p>
            </mat-card-content>
            <mat-card-actions *ngIf="user.id">
                <button mat-button (click)="delete(post)" *ngIf="hasRights(post)">DELETE</button>
                <button mat-button (click)="edit(post)" *ngIf="hasRights(post)">EDIT</button>
            </mat-card-actions>
            <div class="image-container">
                <img (error)="onError($event.target)" src="{{'http://localhost:3000/'+post._id + '.jpeg'}}" (click)="zoomImage($event.target.src)" [alt]="post.title">
            </div>
        </mat-card>
    </div>
</ng-template>
