<spinner *ngIf="loading"></spinner>
<mat-accordion class="example-headers-align">
    <mat-expansion-panel (opened)="step=0" [expanded]="step === 0">
        <mat-expansion-panel-header>
            Change tags of multiple songs{{ multiChangeSongs.length ? ' &#10004;' : '' }}
        </mat-expansion-panel-header>

        <div *ngFor="let key of AUTOCOMPLETE_KEYS">
            <mat-form-field>
                <input type="text" matInput [disabled]="!multiChangeSongs.length"
                [matAutocomplete]="auto" placeholder="{{ key }}"
                class="multi-field" id="multi-{{ key }}">
            </mat-form-field>
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of autocompleteValues[key]"
                [value]="option">
                    {{ option }}
                </mat-option>
            </mat-autocomplete>
        </div>

        <mat-action-row>
            <button mat-button (click)="multiSynchronize()"
            [disabled]="!multiChangeSongs.length">
                Synchronize
            </button>
        </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="step=1" [expanded]="step === 1">
        <mat-expansion-panel-header>
            All songs
        </mat-expansion-panel-header>
        <table *ngIf="!loading">
            <tr>
                <th>
                    <mat-checkbox color="primary" (change)="checkAll($event)">
                    </mat-checkbox>
                </th>
                <th *ngFor="let key of KEYS">{{ key | uppercase }}</th>
                <th>{{ 'Lyrics' | uppercase }}</th>
            </tr>
            <tr *ngFor="let song of songsTemp" [ngClass]="song._id" class="song-row"
            [attr.title]="song.filename">
                <td>
                    <mat-checkbox color="primary" [checked]="allChecked"
                    (change)="checkSong($event)">
                    </mat-checkbox>
                </td>
                <td *ngFor="let key of KEYS">
                    <textarea [(ngModel)]="song[key]" placeholder="unknown"
                    (keyup)="markAsChanged($event.target)">
                    </textarea>
                </td>
                <td>
                    <div class="lyrics">
                        <button mat-icon-button type="button"
                        (click)="showLyrics($event.target, song)">
                            <mat-icon>music_note</mat-icon>
                        </button>
                    </div>
                </td>
            </tr>
        </table>

        <mat-paginator [length]="totalLength" [pageSize]="defaultPageSize"
        (page)="pagination($event)" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>

        <mat-action-row class="table-buttons">
            <button mat-raised-button type="button" [disabled]="!newState"
            (click)="synchronize()">Synchronize</button>
            <button mat-raised-button type="button" [disabled]="!newState"
            (click)="reset()">Reset</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
