mat-expansion-panel {
    mat-form-field {
        width: 100%;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;

        tr.changed {
            background: #ddd;
        }

        td, th {
            border: 1px solid #ddd;
            text-align: left;
            padding: 10px;

            &:first-child {
                text-align: center;
            }
        }

        td {

            textarea {
                background: transparent;
                border: none;
                border-bottom: 1px solid black;
                font-family: inherit;
                font-size: inherit;
                padding: 10px 0;
                resize: none;
                width: 100%;
            }

            .lyrics {
                align-items: center;
                display: flex;
                justify-content: center;
            }
        }
    }

    .search {
        display: flex;
        justify-content: space-between;

        .search-elem {
            width: 15%;

            mat-form-field {

                mat-icon {
                    cursor: pointer;
                }
            }
        }
    }

    .table-buttons {
        button {
            margin-left: 10px;
        }
    }
}
