<h1>Create new user</h1>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
    <mat-card>
        <mat-card-content>
            <mat-input-container class="example-full-width">
                <input formControlName="username" required maxlength="60" #username matInput placeholder="username" type="text">
                <mat-hint align="end">{{username.value.length}} / 60</mat-hint>
            </mat-input-container>
            <mat-input-container class="example-full-width">
                <input formControlName="password" required #password matInput placeholder="password" type="text">
            </mat-input-container>
            <mat-checkbox class="example-margin" formControlName="superAdmin">Super-Admin</mat-checkbox>
        </mat-card-content>
        <mat-card-actions>
            <div class="submit">
                <button type="submit" mat-button>Post</button>
            </div>
        </mat-card-actions>
    </mat-card>
</form>
<spinner *ngIf="loading; else elseBlock"></spinner>
<ng-template #elseBlock>
    <div>
        <h1>Users</h1>
        <mat-card *ngFor="let user of users" class="example-card">
            <mat-card-header>
                <img src="{{user.avatarUrl}}" mat-card-avatar/>
            </mat-card-header>
            <mat-card-content>
                <p [innerHtml]="user.username"></p>
                <p>{{user.superAdmin}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="delete(user)">DELETE</button>
            </mat-card-actions>
        </mat-card>
    </div>
</ng-template>
