.mat-dialog-content{
    display: flex;
    justify-content: center;

    .example-full-width {
        width: 80%;

        textarea.mat-input-element {
            resize: none;
            text-align: center;
        }
    }
}
