mat-expansion-panel {
    mat-form-field {
        width: 100%;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;

        tr.changed {
            background: #ddd;
        }

        td, th {
            border: 1px solid #ddd;
            text-align: left;
            padding: 10px 10px 0 10px;

            &:first-child {
                text-align: center;
                padding: 10px;
            }
        }

        th {
            &:nth-child(5) {
                width: 50px;
            }

            &:nth-child(6) {
                width: 60px;
            }

            &:nth-child(7) {
                width: 200px;
            }
        }

        td {

            .lyrics {
                align-items: center;
                display: flex;
                justify-content: center;
            }
        }
    }

    .search {
        display: flex;
        justify-content: space-between;

        .search-elem {
            width: 15%;

            mat-form-field {

                mat-icon {
                    cursor: pointer;
                }
            }
        }
    }

    .table-buttons {
        button {
            margin-left: 10px;
        }
    }
}
