<mat-accordion class="example-headers-align">
    <mat-expansion-panel (opened)="step=0" [expanded]="step === 0">
        <mat-expansion-panel-header>
            Change tags of multiple songs
            {{ multiChangeSongs.length ? '&#10004;' : '' }}
        </mat-expansion-panel-header>

        <div *ngFor="let key of KEYS">
            <mat-form-field>
                <input type="text" [disabled]="!multiChangeSongs.length"
                [matAutocomplete]="auto" placeholder="{{ key | titlecase }}"
                class="multi-field" id="multi-{{ key }}" matInput
                (keyup)="filterAutocomplete(key, $event.target.value)">
            </mat-form-field>
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of autocompleteValues[key]"
                [value]="option">
                    {{ option }}
                </mat-option>
            </mat-autocomplete>
        </div>

        <mat-action-row>
            <button mat-button (click)="multiSynchronize()"
            [disabled]="!multiChangeSongs.length">
                Synchronize
            </button>
        </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="step=1" [expanded]="step === 1">
        <mat-expansion-panel-header>
            Songs
        </mat-expansion-panel-header>
        <div class="search">
            <div class="search-elem" *ngFor="let key of KEYS">
                <mat-form-field>
                    <input type="text" matInput #input
                    [matAutocomplete]="auto" placeholder="{{ key | titlecase }}"
                    (keyup)="searchInput(key, $event)">
                    <mat-icon *ngIf="input.value.length" matSuffix
                    (click)="resetInput(input, key)">
                        clear
                    </mat-icon>
                </mat-form-field>
                <mat-autocomplete #auto="matAutocomplete"
                (optionSelected)="selectAuto($event, input)">
                    <mat-option [value]="option"
                    *ngFor="let option of autocompleteValues[key]">
                        {{ option }}
                    </mat-option>
                </mat-autocomplete>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>
                        <mat-checkbox color="primary" [(ngModel)]="allChecked"
                        (change)="checkAll($event)">
                        </mat-checkbox>
                    </th>
                    <th *ngFor="let key of KEYS">{{ key | titlecase }}</th>
                    <th>{{ 'Lyrics' | titlecase }}</th>
                </tr>
            </thead>
            <spinner *ngIf="loading"></spinner>
            <tbody *ngIf="!loading">
                <tr *ngFor="let song of songsTemp" [ngClass]="song._id"
                class="song-row" [attr.title]="song.filename">
                    <td>
                        <mat-checkbox color="primary" [checked]="allChecked"
                        (change)="checkSong($event)">
                        </mat-checkbox>
                    </td>
                    <td *ngFor="let key of KEYS">
                        <mat-form-field>
                            <input [(ngModel)]="song[key]" matInput
                            placeholder="{{ key | titlecase}}"
                            (keyup)="markAsChanged($event.target)">
                        </mat-form-field>
                    </td>
                    <td>
                        <div class="lyrics">
                            <button mat-icon-button type="button"
                            (click)="showLyrics($event.target, song)">
                                <mat-icon>music_note</mat-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <mat-paginator [length]="totalLength" [pageSize]="defaultPageSize"
        (page)="pagination($event)" [pageSizeOptions]="[5, 10, 25, 100]"
        [pageIndex]="paginationObj.skip/paginationObj.limit">
        </mat-paginator>

        <mat-action-row class="table-buttons">
            <button mat-raised-button type="button" [disabled]="!newState"
            (click)="synchronize()">Synchronize</button>
            <button mat-raised-button type="button" [disabled]="!newState"
            (click)="reset()">Reset</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
